@model HrmApp.Web.Models.EmployeeStatsViewModel

<div class="card">
    <div class="card-header">
        <h5>Employee Stats</h5>
    </div>
    <div class="card-body">
        <p>Active: @Model.ActiveCount</p>
        <p>Inactive: @Model.InactiveCount</p>
    </div>
</div>