@page
@model HrmApp.Web.Pages.Employees.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h3>@ViewBag.Title</h3>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Employee.Name" class="control-label"></label>
                <input asp-for="Employee.Name" class="form-control" />
                <span asp-validation-for="Employee.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Employee.Email" class="control-label"></label>
                <input asp-for="Employee.Email" class="form-control" />
                <span asp-validation-for="Employee.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Employee.Department" class="control-label"></label>
                <input asp-for="Employee.Department" class="form-control" />
                <span asp-validation-for="Employee.Department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Employee.StartDate" class="control-label"></label>
                <input asp-for="Employee.StartDate" class="form-control" type="date" />
                <span asp-validation-for="Employee.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <span class="text-danger">*</span>
                    <input class="form-check-input" asp-for="Employee.IsActive" /> @Html.DisplayNameFor(model => model.Employee.IsActive)
                </label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a asp-page="List" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
